.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {  
    width: 23%; 
    padding: 1%;
    text-align: center;

}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
    text-align: center;
}

li {
    padding-right: 50px;
}

.heroImg {
    background-color: #EEDEFE;
    height: 437px;
  
}

.heroImg p {
    width: 532px; 
}

.mypic {
    width: 200px;
    height: 200px;
  
} 

.AboutMe h1 {
    margin: 0%;
}


.square {
    width: 191px;
    height: 183px;
    background-color: #D4ADFC; 
}

#researchicon {
    width: 50px;
    height: 50px;
}


.square2 {
    width: 191px;
    height: 183px;
    background-color:#D4ADFC;
}

#interviewicon {
    width: 50px;
    height: 50px;
}

.square3 {
    width: 191px;
    height: 183px;
    background-color:#D4ADFC;
    
}

#wireframeicon {
    width: 50px;
    height: 50px;
}

.square4 {
    width: 191px;
    height: 183px;
    background-color:#D4ADFC;
    
  
}

#prototypeicon {
    height: 50px;
    width: 50px;
}

.square5 {
    width: 191px;
    height: 183px;
    background-color:#D4ADFC;
}

#codeicon {
    height: 50px;
    width: 50px;
}

.square6 {
    width: 191px;
    height: 183px;
    background-color:#D4ADFC;

}

#figmaicon {
    width: 50px;
    height: 50px;
}

.icons {
    width: 100px;
}

.mySkills {
    background-color: #EEDEFE;
    height: 305px;
    width: 100%;
}

.mySkills h1 {
    margin: 0%;
}

.skillsSquare {
    display: inline-block;
    align-content: center;
    padding-right: 120px;
    padding-left: 40px;
    margin: 60px;
}


.casestudies {
    display: inline-block;
}

.casestudy1 {
    width: 522px;
    height: 589px;
    border: 1px solid #5C469C;
    
   
}

.casestudy1 img {
    width: 464px; 
    height: 277px;
}

.casestudy2 {
    width: 522px;
    height: 589px;
    border: 1px solid #5C469C;

   
   
}

.casestudy3 {
    width: 522px;
    height: 589px;
    border: 1px solid #5C469C;
   
}

.casestudy3 img {
    width: 464px; 
    height: 277px;
}

.casestudy4 {
    width: 522px;
    height: 589px;
    border: 1px solid #5C469C;
   
}

.casestudy4 img {
    width: 464px; 
    height: 277px;
}



.circle1 {
    height: 230px;
    width: 230px;
    background-color: #D4ADFC;
    border-radius: 50%;
}

.circle2 {
    height: 230px;
    width: 230px;
    background-color: #D4ADFC;
    border-radius: 50%;
}

.circle3 {
    height: 230px;
    width: 230px;
    background-color: #D4ADFC;
    border-radius: 50%;

}

.circles {
    display: inline-block;
}

.letsConnect {
    background-color:#EEDEFE;
    height: 400px;
}

#locationicon {
    width: 50px;
    height: 50px;
}

#emailicon {
    width: 50px;
    height: 50px;
}

#phoneicon {
    width: 50px;
    height: 50px;
}


#backgroundimg {
        background-repeat: no-repeat;
        background-image: url(../images/footer\ image.png);
        height: 226px; 
        background-size: 100% 100%;       
 }

 
footer {
    padding-left: 400px;
}

 footer ul {
    display: inline-block;
    vertical-align: top;
 }

 footer li{
    padding-right: 50px ;
 }




.AboutMe {
    background-image: url(../images/footer\ image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
}

h2 {
    text-align: center;
}

.casestudy2 img {
    height: 366px;
    width: 183px;

}

h3 {
    text-align: center;
    
}


